bundle:
  name: {{.project_name}}

include:
{{- if eq .include_job "yes" }}
  - resources/*.yml
{{- end }}
  - sql/*
  - adr/*
  - docs/*
  - src/**

targets:
  dev:
    mode: development
    default: true
    workspace:
      root_path: /Workspace/Users/${user_name}/.bundle/${bundle.name}
      host: {{workspace_host}}
  prod: # Update this section as you need.
    mode: production
    workspace:
      host: {{workspace_host}}
      root_path: /Shared/.bundle/prod/${bundle.name}
    run_as:
      user_name: {{user_name}}