{{- if eq .include_job "no" }}
  {{ skip "resources/jobs/*.yml" }}
{{- end }}
{{- if eq .include_dashboard "no" }}
  {{ skip "resources/dashboards/*.yml" }}
  {{ skip "resources/dashboards/*.json" }}
{{- end }}
